<% meta title: "Pitanja — " + @question.title %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 questions-panel">
			<div class='row questions-panel-header'>
		    <div class='col-sm-12 questions-panel-header-title'>
		    	<h4>Izmeni pitanje</h4>
		    </div>
		  </div>
			<div class='row'>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>