<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h4><%= @question.title %></h4>
			<span><%= @question.content %></span>
			<%= render @answers %>
			<%= render 'answers/form' %>
		</div>
	</div>
</div>