body {
  margin: 0;
  padding: 50px 0 0 0;
  height: 100%;
}

#page-wrapper {
	min-height: 100%;
	position: relative;
}

#page-content {
	padding-bottom: 110px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.dropdown-menu hr {
	margin-top: 5px;
	margin-bottom: 5px;	
}

.dropdown-menu li {
	padding-top: 5px;
	padding-bottom: 5px;

	span {
		padding-left: 10px;
		color: #009999;
		text-decoration: none;
		&:hover {
	    color: #222;
	  }
	}
	a {
		padding-left: 5px;
		color: #009999;
		text-decoration: none;
		&:hover {
	    color: #222;
	    text-decoration: none;
	  }
	}
}

h1.page-caption {
	color: #009999;
}

@media (max-width: 991px) {
	body {
		margin-top: 100px;
	}
	.container {
		width: 100%;
	}
}