<% meta title: "Kontakt" %>
<div class='container'>
	<h1 class='page-caption'>Kontaktiraj nas</h1>
		<p>Javite nam se na <strong>office@pitamte.com</strong><br />ukoliko imate bilo kakavih problema, pritužbi ili saveta za nas.<br /><br />PitamTe Team</p>
</div>