<% meta title: "O nama" %>
<div class='container'>
	<h1 class='page-caption'>Ko smo mi</h1>
	<p>PitamTe je projekat trojice mladih entuzijasta koji žele da korisnicima interneta sa našeg govornog područja pruže najefikasniji način da reše bilo kakve nedoumice koje imaju. PitamTe je namenjen svima onima koji imaju pitanje na koje ne mogu da dobiju konkretan odgovor prostim pretraživanjem interneta a nemaju koga da pitaju, ili žele anonimno da postave neko "škakljivo" pitanje.<br /><br />

	Idejni pokretači sajta i glavni i odgovorni za sav sadržaj na njemu su Zlatan Aleksić i Nikola Aladžić. Sajt je izradio Hari Kalanj kao jedini web developer u ekipi i on je odgovoran za njegovo funkcionisanje i održavanje.<br /><br />

	Proširenje ekipe je u planu.</p>
</div>
