<% meta title: "Uslovi korišćenja" %>
<div class='container'>
	
	<h1 class='page-caption'>Uslovi korišćenja</h1>
	
	<br /><p>Znamo da je ovo deo koji verovatno ne želite čitati, ali ovde su sadržane neke veoma važne stvari, pa biste trebali pročitati bar jednom u celini. Možda ćemo povremeno praviti promene u ovim uslovima, te vas molimo da ih proverite što češće možete.</p>
	<p>Ako ovde postoji nešto što ne razumete (ili bilo gde na sajtu), molimo stupite u kontakt sa nama. Ako imate ispod 18 godina, molimo zamolite odraslu osobu da zajedno sa vama pregleda sledeće Uslove i odredbe (na ovoj stranici zovemo ih skraćeno Uslovi) i objasni vam sve što ne razumete.</p>
	
	<br /><h3>Ukratko</h3>
	
	<p>Ovi Uslovi važe svaki put kada posetite Pitamte.com. Ovo su glavne stavke (i pored toga trebate sve pročitati!):
	<ol>
		<li>Nije vam dozvoljeno da se registrujete na Pitamte.com ili koristite sajt ukoliko imate ispod 13 godina. Molimo nemojte lagati o svojim godinama. Kada se registrujete kao član, prihvatate da ćete podneti istinite i tačne informacije na Pitamte.com. Ako nam date lažne informacije, zadržavamo pravo da suspendujemo ili obustavimo vaš nalog.</li>
		<li>Vi ste odgovorni za bilo šta što postavite ili kažete dok ste na sajtu Pitamte.com - mi nismo. Mi ne nadgledamo sve na Pitamte.com sajtu jer to nije moguće - mi nismo odgovorni za ono što korisnici postavljaju na sajt. Međutim, ponekad dobijemo obaveštenja kada korisnici koriste nekulturan jezik i nepristojne reči - ovo nije prihvatljivo na našem sajtu. Takođe proveravamo sve žalbe koje primimo od bilo koga ko prijavi nepoštovanje ovih Uslova i/ili drugih politika, posebno u vezi nečega što je osobu uznemirilo, zabrinulo ili uplašilo. Zato ako postavite nešto što smatramo da je neprikladno ili neprihvatljivo, možemo isto ukloniti sa sajta i/ili blokirati vaš budući pristup sajtu gde je to moguće.</li>
		<li>Ako postavite bilo šta što pripada nekome drugome i oni žele da urade nešto povodom toga, moraćete preuzeti odgovornost za to. Još jednom, vi ste odgovorni za ono što postavljate, čak i ako to postavite anonimno.</li>
	</ol></p>
	
	<br /><h3>Pravno</h3>
	
	<p>Pitamte.com je mesto za ćaskanje sa prijateljima i upoznavanje novih ljudi, deljenje svojih mišljenja i ideja. To je zabavno mesto za posetu - i da bismo osigurali da takvo i ostane, morate koristiti sajt samo u skladu sa ovim uslovima. Isto tražimo od svakoga.</p>
	<p>Kada koristite Pitamte.com (bilo da jeste ili niste član), stupate u obavezujući pravni sporazum koji je sklopljen između vas kao nekoga ko koristi sajt i nas kao onih kojima sajt pripada.</p>
	<p>Pristupanjem, korištenjem, registrovanjem ili primanjem bilo kakvih usluga na Pitamte.com, automatski prihvatate i slažete se sa ovim Uslovima.</p>
	<p>Ako ne prihvatate i ne slažete se sa Uslovima onda ne smete pristupiti sajtu niti ga koristiti. Ako nastavite korištenje ili pristupanje, prihvatate i slažete se sa ovim Uslovima.</p>
	
	<br /><h3>Korištenje sajta i pravila vezana za stvari koje postavljate/pitanja koje pitate</h3>
	
	<br /><h4>Ko može koristiti Pitamte.com?</h4>
	<p>Možete koristiti sajt ili postati član samo ako imate 13 ili više godina. Ako imate ispod 13 godina, nije vam dozvoljeno da koristite sajt. Ako primetimo da koristite Pitamte.com i pored toga što imate ispod 13 godina, mi ćemo deaktivirati vaš nalog i pokušati blokirati vaš pristup sajtu.</p>
	<p>Vi ste odgovorni za poštovanje svih zakona i regulativa zemlje u kojoj živite.</p>
	<p>Korištenjem Pitamte.com, potvrđujete da niste osuđeni. niti ste subjekat bilo kakvog sudskog naloga koji je vezan za napade, nasilje, seksualne prekršaje ili uznemiravanje.</p>

	<br /><h4>Kakve stvari mogu postaviti na Pitamte.com? I šta nije dozvoljeno?</h4>
	<p>Možete postavljati razne stvari na Pitamte.com, uključujući tekst, fotografije i video zapise.</p>
	<p>Naravno, postoje pravila o onome što je prihvatljivo - ova pravila postoje da bi svako bezbedno uživao u sajtu Pitamte.com. Ne smete postavljati ili slati bilo šta što:
	<ol>
		<li> je zlonamerno, nekoga maltretira ili može nekoga zabrinuti, uplašiti ili uznemiriti</li>
		<li> je namerno smišljeno da isprovocira ili izazove ljude na protivljenje, pogotovo trolovanje</li>
		<li> je izgovoreno na nepristojan način koji će verovatno nekoga uznemiriti ili posramiti</li>
		<li> opisuje užasne, šokantne ili uznemiravajuće stvari</li>
		<li> je seksualno eksplicitno, prikazuje grafičko nasilje, sadrži slike nagih ljudi, ili je vulgarno ili pornografsko</li>
		<li> sadrži pretnju bilo koje vrste</li>
		<li> je rasistički nastrojeno ili nepristojno prema nečijoj rasi, religiji, seksualnosti ili boji njihove kože;</li>
		<li> ohrabruje ljude da se uključe u bilo šta nelegalno (na primer, droge, nasilje ili kriminal)</li>
		<li> je laž o nekoj osobi - i u slučajevima kada znate da podatak nije istinit i onda kada ne znate sigurno da je istinit (čak i ako mislite da bi mogao biti)</li>
		<li> predstavlja slanje bezvredne pošte drugim ljudima ili pokušaj da im nešto prodate ili u slučajevima kada pokušavate da zaradite na nekome</li>
		<li> ne pripada vama ili bi moglo prekršiti poverljivost ili autorska prava neke druge osobe (npp. muzika ili filmovi)</li>
		<li> sadrži bilo kakav računarski virus ili bi moglo pokušati oštetiti naš sajt</li>
		<li> predstavlja pokušaj da se dobiju ili sakupe lične ili privatne informacije koje posedujemo na Pitamte.com</li>
		<li> izgleda kao da je došlo od nekoga drugog a ne vas, ili kada imitirate nekoga drugog</li>
		<li> može prouzrokovati bilo kakvu štetu ili povredu vama ili nekome drugom.</li>
	</ol></p>
	<p>Koristite svoj zdrav razum kada nešto postavljate, šaljete pitanja ili komentarišete na Pitamte.com. Zastanite i razmislite (pogotovo ako ste ljuti) pre nego isto pošaljete i proverite da to nije nešto nedozvoljeno. Setite se, vi ste jedini odgovorni za sve što napišete i postavite na sajt.</p>

	<br /><h4>Koja su pravila vezana za lične informacije?</h4>
	<p>Ne smete staviti nikakve svoje niti tuđe lične kontaktne ili bankovne informacije na vaš individualni profil (npr. kućnu adresu ili poštanski broj, broj telefona, datum rođenja, adresu e-pošte itd.). Ako drugim članovima date lične informacije o sebi, to je na vaš sopstveni rizik, zato budite pažljivi.</p>

	<br /><h4>Mogu li koristiti lične informacije o drugim ljudima?</h4>
	<p>Nije vam dozvoljeno da koristite lične informacije drugih ljudi da biste pokušali na njima zaraditi, da biste slali bezvrednu poštu ili da biste malteritirali, pretili, uznemiravali ili posramljivali bilo koga. Ako verujemo da zloupotrebljavate informacije o drugim ljudima, možemo, bez obaveštenja, deaktivirati vaš nalog i/ili blokirati vaš pristup sajtu ako je to moguće.</p>

	<br /><h4>Ako moji prijatelji žele videti sve ljude sa kojima ćaskam, mogu li im dati svoju lozinku i dozvoliti da se prijave u moje ime?</h4>
	<p>Ne. Samo vama je dozvoljeno da pristupate vašem nalogu na Pitamte.com. Nikome ne smete reći svoju lozinku (čak ni svojim najbližim prijateljima i članovima porodice) i dozvoliti da beko drugi pristupi vašem nalogu, jer bi ovo moglo dovesti do toga da svi vaši postovi, poruke i lične informacije izađu u javnost ili da neko pokuša da vas imitira i ili se predstavlja kao vi. Vi ste odgovorni da vaša lozinka bude tajna i sigurna. Ako to ne učinite, Pitamte.com ne snosi odgovornost za pristup vašem nalogu ili čitanje ili slanje poruka na nalogu od strane bilo koga. Ako sumnjate da neko koristi vaš nalog, odmah nas obavestite. Takođe odmah trebate promeniti svoju lozinku. Možemo ukloniti vaš nalog ili vam zabraniti pristup sajtu ako prekršite pravila o sigurnosti lozinke.</p>

	<br /><h4>Ko može videti ono što stavljam na Pitamte.com?</h4>
	<p>Kada postavljate ili učitavate bilo šta na Pitamte.com, tome može pristupiti i to može videti sva opšta javnost (ne samo registrovani članovi na Pitamte.com). Ako ne želite da drugi nešto ne vide, onda to ne trebate postavljati na Pitamte.com. Mi imamo pravo (a da vas pre toga ne obavestimo) da uklonimo ili uredimo bilo šta što podnesete na Pitamte.com, ili da proverimo da je ono što ste podneli tačno ili istinito. Nismo obavezni da nadgledamo način na koji vi ili neko drugi koristi sajt Pitamte.com.</p>

	<br /><h4>Jednom kada nešto stavim na Pitamte.com, da li i dalje to posedujem?</h4>
	<p>Da, sve dok ste to posedovali i pre postavljanja. Ako ste to odnekud kopirali, onda ne - ne smete postavljati stvari koje vam ne pripadaju. Ako ovo učinite, Pitamte.com neće snositi odgovornost i zaržavamo pravo na tužbu protiv vas u slučaju da bilo koja treća strana pokrene tužbu protiv nas.</p>
	<p>Postavljanjem bilo čega na Pitamte.com, vi (i) obećavate da vam je dozvoljeno da to postavljate i da isto niste otuđili, (ii) se ne pretvarate da je nešto u vašem vlasništvu ako zaiste nije i (iii) dozvoljavate da Pitamte.com može to isto koristiti na bilo koji način na koji želimo, koliko dugo želimo, i bez naplate.</p>
	<p>Ako neko kaže da nešto što ste napisali pripada njima ili da vam nije bilo dozvoljeno da to postavite iz bilo kojeg razloga, ako smatramo da je neophodno možemo to izbrisati. Takođe, obavestite nas ako je neko postavio nešto što pripada vama i mi ćemo to proveriti.</p>

	<br /><h3>Pristup sajtu Pitamte.com</h3>

	<br /><h4>Da li će sajt Pitamte.com raditi čitavo vreme?</h4>
	<p>Nažalost ne možemo garantovati da će sajt uvek raditi, jer ponekad moramo sprovesti održavanje sajta ili sajt može imati grešku ili biti žrtva okolnosti koje su van naše kontrole. Mi možemo u svakom trenutku zaustaviti ili suspendovati sajt a da vas o tome ne obavestimo.</p>

	<br /><h4>Kakva je situacija sa mobilnim pristupom?</h4>
	<p>Na vama je da budete sigurni da možete pristupiti sajtu Pitamte.com sa vašeg telefona (npr. popričajte sa vašim dobavljačem internet usluga ili internet mobilnih usluga). Mi ne možemo garantovati da će mobilni sajt uvek raditi ali, naravno, naš cilj je da uvek radi i funkcioniše savršeno.</p>
	<p>Ako koristite Pitamte.com na vašem telefonu (i/ili drugom uređaju) možda ćete morati platiti vašem dobavljačima internet ili mobilnih usluga, zato proverite prvo sa njima ako niste sigurni, jer ćete biti odgovorni za ove troškove.</p>

	<br /><h4>Nisam član i izgleda da ne mogu pristupiti nekim stvarima na sajtu. Zašto?</h4>
	<p>Osobe koje nisu učlanjene mogu pristupiti samo delu Pitamte.com sajta koji je javno dostupan i ne uživaju privilegije koje imaju članovi.</p>

	<br /><h3>Obustava upotrebe od strane nas</h3>

	<br /><h4>Moj profil je nestao i ne mogu se prijaviti. Šta se desilo?</h4>
	<p>Ponekad ljudi postavljaju stvari koje nisu dozvoljene. Ako smatramo da ste jedan od njih, onda nam je dozvoljeno da u bilo koje vreme (a da vas unapred ne obavestimo):
	<ol>
		<li>suspendujemo/obustavimo vaše članstvo (gde je primenjivo) i vaše pravo pristupa i/ili korištenja sajta Pitamte.com ili dodavanje bilo kakvog sadržaja na Pitamte.com; i</li>
		<li>učinimo bilo šta šta je u našoj moći ili kontroli da bi se ispoštovali naši uslovi (uključujući blokiranje određenih IP adresa ili obaveštavanje policije).</li>
	</ol></p>
	<p>Pokušaćemo da vam unapred kažemo ako će vaš pristup sajtu Pitamte.com i/ili vašem profilu biti suspendovan ili obustavljen, ali ne možemo garantovati da ćemo uvek to moći učiniti.</p>

	<br /><h4>Šta ako želim da "poništim" registraciju na Pitamte.com?</h4>
	<p>Ako ste Pitamte.com član, možete obustaviti svoje članstvo u bilo kojem trenutku.</p>
	<p>Sve što postavite na Pitamte.com osim vašeg profila (kao što su pitanja ili komentari) biće i dalje prikazano na Pitamte.com čak i ako ste obustavili svoje članstvo.</p>

	<br /><h4>Neko radi stvari koje nisu dozvoljene: kome da kažem?</h4>
	<p>Ako neko maltretira ili uznemirava vas (ili bilo koga drugoga) ili radi stvari koje nisu dozvoljene na našem sajtu (npr. postavlja užasne stvari, šalje zlonamerne ili uvredljive poruke), to možete prijaviti i požaliti se tako što ćete nas kontaktirati. Da biste nam pomogli da vam pomognemo, molimo recite nam tačno u čemu je problem, u što je moguće više detalja.</p>

	<br /><h4>Da li linkovi na sajtu imaju neke veze sa Pitamte.com?</h4>
	<p>Na našem sajtu mogu se nalaziti linkovi prema drugim sajtovima ili stvari koje mislimo da bi vas mogle interesovati. Neki članovi mogu postaviti linkove prema vanjskim internet sajtovima na svoje ili profile drugih korisnika. Ako kliknete na bilo koji od ovih linkova oni će vas odvesti na druge sajtove koji nemaju veze sa nama. Ovi sajtovi će imate sopstvene uslove i pravila koji možda nisu ista kao naša, tako da to trebate proveriti. Mi nismo odgovorni za bilo šta na tim sajtovima i nemamo kontrolu nad bilo čim na njima - u potpunosti zavisi od vas da li ih želite posetiti.</p>

	<br /><h4>Postavio/la sam nešto što nije dozvoljeno i neko je rekao da će me tužiti. Možete li ovo rešiti za mene?</h4>
	<p>Ne. Ako napišete ili postavite nešto što nije dozvoljeno ili što smeta ili uznemirava nekoga drugog, onda ste odgovorni za posledice. Zato dobro razmislite preko nego napišete bilo šta na sajt što mislite da možda nije dozvoljeno. Mi nismo odgovorni za ono što korisnici pišu ili postavljaju na ovaj sajt.</p>

	<br /><h4>Da li postoje ograničenja u pogledu odgovornosti Pitamte.com pod ovim Uslovima?</h4>
	<p>Da. Odgovornost Pitamte.com pod ovim Uslovima je ograničena kao što sledi, u najvećoj mogućoj meri dozvoljenoj zakonom:</p>
	<p>Mi ne dajemo nikakvu deklaraciju ili garanciju o podobnosti Pitamte.com sajta u vaše svrhe, ili da će upotreba sajta biti bezbedna, bez prekida, bez grešaka, virusa ili drugih štetnih komponenata, ili da će sajt ispravno funkcionisati u kombinaciji sa tehnologijom bilo koje treće strane, hardverom, softverom, sistemima ili podacima.</p>
	<p>Pitamte.com sajt se daje onakav "kakav jeste" i svi uslovi, deklaracije, i garancije, bilo da su izričite, podrazumevajuće, statutarne ili neke druge, uključujući, vez ograničenja, bilo kakvu podrazumevajuću garanciju za utrživost, naziv, prikladnost za određenu svrhu ili nekršenje odredbi se ovim odriču u maksimalnoj meri dozvoljenoj primenjivim zakonom. Osim toga, ne pravimo deklaracije niti garancije bilo koje vrste, izričite ili podrazumevajuće, vezane za rad sajta, ili za informacije, sadržaj, razgovore, materijale ili proizvode i usluge koje se na njemu nalaze. Vaša upotreba sajta Pitamte.com je na vaš sopstveni rizik.</p>
	<p>Nećemo biti odgovorni za štetu bilo koje vrste nastalu zbog upotrebe sajta Pitamte.com, uključujući, bez ograničenja, direktne, indirektne, slučajne, kaznene ili posledične štete. Zakoni u određenim zemljama ne dozvoljavaju ograničenja podrazumevanih garancija ili isključenja određenih šteta. Ako se ovi zakoni odnose na vas, neki od gore navedenih odricanja, isključenja ili ograničenja se neće odnositi na vas i možda imate dodatna prava.</p>
	<p>Da budemo jasni, ništa u ovim Uslovima neće sprečiti sajt Pitamte.com da bude odgovoran za bilo šta za šta zakonom mora biti odgovoran.</p>

	<br /><h4>Postavio/la sam nešto što nije dozvoljeno i sada je neko rekao da će da tuži Pitamte.com.</h4>
	<p>Ako nas neko tuži kao rezultat vaše upotrebe sajta Pitamte.com onda imamo pravo da se branimo i rešimo relevantnu tužbu onako kako mi odlučimo. Ako od vas to zatražimo, u potpunosti ćete sarađivati sa nama u odbrani od bilo kakve relevantne tužbe.</p>
	<p>Slažete se da ćete nas i naše službenike, direktore, zaposlene, agente, predstavnike i davaoce licence osloboditi odgovornosti i da ćete nam nadoknaditi štetu od i za bilo kakva potraživanja, odštete (stvarne i/ili posledične), radnje, postupke, zahteve, gubitke, obaveze, troškove i rashode (uključujući razumne pravne naknade) koje smo pretrpeli i doživeli a koje su rezultat, ili su vezane za vaš pristup i upotrebu sajta Pitamte.com, postavljanja ili dodavanja sadržaja na Pitamte.com od strane vas ili vašeg ponašanja, a koji nisu u skladu sa Uslovima ili bilo kakvim primenjivim zakonom ili propisom. Pitamte.com zadržava ekskluzivno pravo da izmiri potraživanja, napravi kompromise i plati sve i bilo koje žalbe ili uzroke za pokretanje pravnog postupka koji su podneseni protiv nas bez vašeg prethodnog odobrenja.</p>

	<br /><h3>Opšte stvari</h3>
	<p>Učinili smo sve što smo razumno mogli da osiguramo da je sve na sajtu ažurirano, ali ne možemo apsolutno garantovati da će uvek tako biti. Ne dajemo nikakva obećanja o informacijama koje su sadržane na Pitamte.com. Upotreba Pitamte.com sajta i materijala koji su na njemu dostupni je na vaš sopstveni rizik. Pitamte.com neće biti odgovoran za bilo kakav gubitak nastao kao rezultat prenosa, upotrebe podataka ili netačnog sadržaja koji korisnici postavljaju. Vi ste odgovorni za preduzimanje svih potrebnih mera da biste osigurali da je bilo koji materijal koji bi mogli preuzeti sa Pitamte.com bez virusa ili drugih štetnih komponenti. Prihvatate da korištenje Pitamte.com neće biti bez prekida i bez grešaka, da defekti možda neće biti popravljeni ili da Pitamte.com ili server na kojem je dostupan, možda neće biti bez virusa ili buba, špijunskog softvera, trojanaca ili nekog drugog sličnog zlonamernog softvera. Pitamte.com neće biti odgovoran za bilo kakvu štetu na hardveru vašeg računara, na softveru ili na drugoj opremi ili tehnologiji, uključujući, ali bez ograničenja štete nastale zbog kršenja bezbednosti ili zbog nekog virusa, bube, manipulisanja, greške, propusta, prekida, poremećaja, kašnjenja u radu ili prenosu, pada mreže ili računarskih linija ili nekog drugog tehničkog ili drugog kvara.</p>
	<p>Zadržavamo pravo da modifikujemo, ispravimo ili promenimo ove Uslove u bilo kom trenutku. Ako ovo učinimo, promene će biti prikazane na ovoj stranici i navešćemo datum primene ovih ažuriranja na dnu ovih Uslova. Ako napravimo bilo kakve značajne promene, kontaktiraćemo vas da bi vas obavestili. Trebate redovno proveravati ovi stranicu da biste primili ka znanju bilo kakve promene.</p>
	<p>Ako ne prihvatate bilo kakve promene u ovim Uslovima, trebate odmah prestati koristiti Pitamte.com. Ako nastavite koristiti sajt nakon promena, to znači da automatski prihvatate promene i bićete pravno vezani novim ažuriranim Uslovima.</p>
	<p>Ako iz bilo kojeg razloga bilo koja odredba ovih Uslova bude proglašena nelegalnom, nevažećom ili drugačije neprimenjivom od strane nadležnog suda, onda u meri u kojoj je odredba nelegalna, nevažeća ili neprimenjiva, biće odvojena i izbrisana iz Uslova i preostali deo će ostati u punoj snazi, proizvoditi pune pravne posledice i ostati pravno obavezujuć i primenjiv.</p>
	<p>Uslovi predstavljaju puni sporazum i razumevanje izmeću nas i vas u vezi sa vašom upotrebom sajta Pitamte.com i zamenjuju sve prethodne sporazume, izlaganja i aranžmane između nas (bilo da su pismeni ili usmeni). Ništa u ovim Uslovima neće ograničiti niti isključiti bilo kakvu odgovornost za prevarno lažno predstavljanje.</p>
	<p>Nijedan propust ili kašnjenje od strane nas u ostvarivanju bilo kojeg prava, ovlašćenja ili privilegije u okviru Uslova neće predstavljati naše odricanje od takvih prava ili prihvatanje bilo kakvih promena Uslova niti će pojedinačno ili delimično ostvarivanje bilo kojeg prava, ovlašćenja ili privilegije sprečiti svako dalje ostvarivanje tog prava, ovlašćenja ili privilegije, od bilo koje strane.</p>
	<p>Ništa u Uslovima ne daje pravo, niti tvrdi da daje bilo kakvo pravo bilo nekoj trećoj strani.</p>
	<p>Ovi Uslovi i bilo kakvi sporovi ili tužbe koji nastanu iz ili u vezi sa njima ili njihovim predmetom (uključujući ne-ugovorne sporove ili potraživanja) regulisaće se i biće sačinjeni u skladu sa zakonima Srbije i biće predmet neisključive nadležnosti srpskih sudova.
	</p>
</div>