<% provide(:title, "Pocetna") %>
<div class='row subheader'>
	<h1>Dobrodosli na PitamTe!</h1>
	<h4>Odaberite kategoriju i postavite pitanje - sacekajte odgovore i ocenite najbolji.</h4>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-sm-3'>
			<div class='panel panel-default categories-panel'>
			  <div class="panel-body">
			  	<h4>Kategorije</h4>
			    <ul class="categories">
  					<%= render @categories %>
					</ul>
			  </div>
			</div>
		</div>
		<div class='col-sm-9'>
		</div>
	</div>
</div>

<script>
	$('.category').on('click', function () {
		$('.categories').children().children().removeClass('selected');
		$(this).toggleClass('selected');
	});
</script>