<% provide(:title, "Pocetna") %>
<div class='row subheader'>
	<h1>Dobrodosli na PitamTe!</h1>
	<h4>Odaberite kategoriju i postavite pitanje - sacekajte odgovore i ocenite najbolji.</h4>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-sm-3'>
			<div class="panel panel-default" id='categories-panel'>
			  <div class="panel-heading">
			    <h3 class="panel-title">Kategorije</h3>
			  </div>
			  <div class="panel-body">
			    Panel content
			  </div>
			</div>
		</div>
		<div class='col-sm-9'>
		</div>
	</div>
</div>