<% provide(:title, "Početna") %>
<div class='row subheader'>
	<h1>Dobrodošli na PitamTe!</h1>
	<h4>Odaberite kategoriju i postavite pitanje - sačekajte odgovore i ocenite najbolji.</h4>
</div>

<div class='container'>
	<div class='row'>
		
		<div class='col-md-3 col-sm-4'>
			<div class='panel panel-default categories-panel'>
			  <div class="panel-body">
			  	<h4>Kategorije</h4>
			    <ul class="categories">
			    	<li>
							<div class='row category selected' id="category-0">
								<hr />
						  	<span>Sva pitanja</span><i class="fa fa-chevron-right"></i>
						  </div>
						</li>
  					<%= render @categories %>
					</ul>
			  </div>
			</div>
		</div>
		<div class='col-md-6 col-sm-8 questions-panel'>
	    <div class='row questions-panel-header'>
		    <div class='col-md-3 col-sm-4 questions-panel-header-title'>
		    	<h4>Pitanja</h4>
		    </div>
		    <div class='col-md-9 col-sm-8'>
		    	<h4 class='questions-panel-header-category'>Sva pitanja</h4>
		    </div>
		  </div>
		  <div class='row' id='question-form'>
		  </div>
		  <div class='row'>
	      <ul class="questions">
	        <%= render @questions %>
	      </ul>
	    </div>
		</div>
		<div class='col-md-3'>
			<iframe src="//go.padstm.com/?id=262211&t=iframe&var=44413" style="width:160px;height:600px;border:0;overflow:hidden;"></iframe>
		</div>

	</div>
</div>

<script>
	$(document).on( 'click', '.category', function() {
		$('.categories').children().children().removeClass('selected');
		$(this).toggleClass('selected');
		var cat = $(this).children().eq(1).text();
		$('.questions-panel-header-category').empty().html(cat);
		var id = $(this).attr('id').substr(9);

		if (id == 0) {
			$('#question-form').slideUp(350);
			$('#question-form').empty();
		}
		else {
			$('#question-form').html("<%= j (render 'questions/form') %>");
			$('#question-form').slideDown(350);
		}

		$('#question_category_id').val(id);
	});

	$(document).on( 'click', '.close', function() {
		$(this).addClass('confirm-delete');
	});
</script>