<% meta title: "Moji odgovori" %>
<div class='container'>
	<div class='row'>
		<div class='col-md-6 col-md-offset-3 col-sm-12 questions-panel'>
		  <div class='row questions-panel-header'>
		    <div class='col-sm-12 questions-panel-header-title'>
		    	<h4>Lista svih mojih odgovora</h4>
		    </div>
		  </div>
		  <div class='row'>
		    <ul class="answers">
		      <%= render @answers %>
		    </ul>
		  </div>
		  <div class="row">
	    	<%= paginate @answers %>
	    </div>
		</div>
	</div>
</div>