.questions-panel {
	h4 {
		color: #009999;
		font-weight: bold;
		margin-top: 18px;
		margin-bottom: 15px;
	}
	ul {
		list-style-type: none;
	}
	hr {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.question {
		margin-bottom: 15px;
		.question-avatar {
			padding-right: 0;
		}
		.question-body {
			padding-left: 0;
		}
		.avatar-placeholder {
			color: #009999;
			border: 1px solid #009999;
			padding: 25px 8px 7px 7px;
		}
	}
	.questions-panel-header {
		border: 1px solid #009999;
		margin-top: 20px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		.questions-panel-header-title {
			h4 {
				text-transform: uppercase;
			}
		}
		.questions-panel-header-category {
			float: right;
		}
	}
	div {
		word-wrap: break-word;
		.question-created-at {
			span {
				float: right;
				color: #ccc;
			}
		}
		.question-category {
			span {
				color: #ccc;
			}
		}
		.question-actions {
			padding: 3px 5px 3px 5px;
			background-color: #fffacd;
			font-size: 0.75em;
			text-transform: uppercase;
			text-align: center;
			i {
				margin-top: 4px;
			}
		}
		.question-actions.edit {
			a {
				color: #cc0000;
				text-decoration: none;
				font-weight: bold;
				&:hover {
			      color: #222;
			    }
			}
		}
		.question-actions.delete {
			a {
				color: #cc0000;
				text-decoration: none;
				font-weight: bold;
				&:hover {
			      color: #222;
			    }
			}
		}
		.question-title {
			span {
				font-size: 1.2em;
				font-weight: bold;
				color: #777;
			}
		}
		.question-content {
			span {
				color: #777;
			}
		}
		.question-share {
			margin-top: 5px;
		}
		.question-votes {
			margin-top: 5px;
			i {
				color: #009999;
				margin-top: 3px;
			}
		}
		.question-author {
			span {
				color: #777;
			}
		}
		.question-answers {
			border-left: 1px solid #ccc;
			margin-top: 5px;
			text-align: center;
			span {
				text-transform: uppercase;
				font-size: 0.75em;
				color: #777;
			}
		}
		.question-answers-link {
			border-left: 1px solid #ccc;
			margin-top: 5px;
			a {
				margin-left: 10px;
				text-decoration: none;
				&:hover {
					span {
						color: #222;
					}
					i {
						color: #222;
					}
				}
			}
			span {
				padding-left: 20px;
				text-transform: uppercase;
				font-size: 0.75em;
				color: #777;
			}
			span.answered {
				color: #009999;
				font-weight: bold;
			}
			span.unanswered {
				color: #cc0000;
				font-weight: bold;
			}
			i {
				float: right;
				margin-top: 3px;
			}
			i.answered {
				color: #009999;
			}
			i.unanswered {
				color: #cc0000;
			}
		}			
	}


	form input[type=text] {
		width: 100%;
		font-size: 1em;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}

	form input[type=submit] {
		background-color: #009999;
		background-image: none;
		border-radius: 4px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
	}

	input[type=submit] {
		background-color: #009999;
		background-image: none;
		border-radius: 4px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
	}

	button.edit-btn {
		background-color: #009999;
		background-image: none;
		color: #fff;
		border-radius: 3px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
		padding: 0 5px 0 5px;
		&:hover {
			background-color: #00abab;
		}
		span {
			font-size: 0.75em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	select {
		background-color: #fff;
		border-radius: 4px;
		border: solid 1px #ccc;
		padding: 8px 10px 7px;
	}

	form input[type=submit]:not(.disabled):hover {
		background-color: #00abab;
		background-image: none;
	}

	input[type=submit]:not(.disabled):hover {
		background-color: #00abab;
		background-image: none;
	}
}

#question-form {
	background-color: #f8f8f8;
}

.question-form {
	margin-top: 15px;
}

#username {
	display: none;
	margin-top: 5px;
}

#username.visible {
	display: block;
}

.signin-to-answer {
	margin-top: 20px;
}


.form-control::-webkit-input-placeholder { /* WebKit browsers */
	color: #ccc;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #ccc;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #ccc;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #ccc;
}


@media (min-width: 768px) and (max-width: 990px) {
	.questions-panel {
		div {
			.question {
				.question-body {
					margin-left: -25px;
				}
				.question-avatar {
					padding-left: 25px;
				}
			}
			.question-title {
				span {
					font-size: 2.25em;
				}
			}
			.question-content {
				span {
					font-size: 1.75em;
				}
			}
			.question-author {
				span {
					font-size: 1.75em;
				}
			}
			.question-created-at {
				span {
					font-size: 1.75em;
				}
			}
			.question-share {
				margin-top: 17px;
			}
			.question-answers {
				font-size: 2em;
			}
			.question-answers-link {
				font-size: 2em;
				span {
					padding-left: 10px;
				}
				i {
					margin-top: 7px;
				}
			}
			.question-actions {
				font-size: 1.75em;
			}
			.voting-status{
				font-size: 2em;
			}
		}
		form input[type=text] {
			font-size: 2.5em;
			height: 70px;
		}
		textarea {
			font-size: 2.5em;
			height: 120px;
		}
		.check-box-row {
			span {
				font-size: 2.5em;
			}
		}
		input[type=checkbox] {
			height: 40px;
			width: 40px;
			margin-right: 15px;
		}
		input[type=submit] {
			font-size: 2.5em;
			padding: 10px 0 10px 0;
			line-height: 26px;
			height: 60px;
		}
		select {
			font-size: 2.5em;
			padding: 10px 0 10px 0;
			line-height: 26px;
			height: 60px;
		}
		.form-group {
			padding-top: 20px;
		}
	}
	.questions-panel.show-question {
		padding-left: 30px;
	}
}

@media (max-width: 767px) {
	.questions-panel {
		padding-right: 20px;
		.questions-panel-header {
			margin-top: 5px;
		}
		h4 {
			font-size: 0.7em;
			margin-top: 13px;
			margin-bottom: 10px;
		}
		div {
			.question {
				.question-body {
					padding-left: 5px;
					padding-right: 0;
				}
				.question-avatar {
					padding-left: 0;
				}
			}
			.question-title {
				span {
					font-size: 1.2em;
				}
			}
			.question-content {
				span {
					font-size: 1em;
				}
			}
			.question-author {
				margin-top: -4px;
				span {
					font-size: 0.8em;
				}
			}
			.question-created-at {
				span {
					font-size: 0.8em;
				}
			}
			.question-share {
				margin-top: 2px;
			}
			.question-answers {
				font-size: 0.8em;
				padding-left: 5px;
				padding-right: 5px;
			}
			.question-answers-link {
				font-size: 0.8em;
				padding-left: 5px;
				span {
					padding-left: 5px;
				}
				a {
					margin-left: 0;
				}
				i {
					margin-top: 1px;
				}
			}
			.question-actions {
				font-size: 0.8em;
			}
			.voting-status{
				font-size: 1em;
			}
		}
		form input[type=text] {
			font-size: 1.5em;
			height: 50px;
		}
		textarea {
			font-size: 1.5em;
			height: 75px;
		}
		.check-box-row {
			span {
				font-size: 1.5em;
			}
		}
		input[type=checkbox] {
			height: 18px;
			width: 18px;
			margin-right: 8px;
		}
		input[type=submit] {
			font-size: 1.5em;
			padding: 5px 0 5px 0;
			line-height: 18px;
			height: 50px;
		}
		select {
			font-size: 1.5em;
			padding: 5px 0 5px 0;
			line-height: 18px;
			height: 50px;
		}
		.form-group {
			padding-top: 5px;
		}
	}
	.questions-panel.show-question {
		padding-left: 10px;
		padding-right: 10px;
		.questions-panel-header {
			margin-left: -5px;
			margin-right: -5px;
		}
	}

	.my-questions-content {
		margin-left: -5px;
		margin-right: 10px;
	}
	.questions-panel.show-question.my-questions {
		.questions-panel-header {
			margin-left: -15px;
			margin-right: -30px;
		}
	}
}