.questions-panel {
	h3 {
		color: #009999;
		margin-bottom: 30px;
		font-weight: bold;
	}
	ul {
		list-style-type: none;
	}
	div {
		word-wrap: break-word;
		.question-created-at {
			span {
				color: #ccc;
			}
		}
		.question-title {
			span {
				font-size: 1.2em;
				color: #777;
			}
		}
		.question-content {
			span {
				color: #777;
			}
		}
		.question-category {
			span {
				color: #ccc;
				float: right;
			}
		}			
	}


	form input[type=text] {
		width: 100%;
		font-size: 1em;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}

	form input[type=submit] {
		background-color: #009999;
		background-image: none;
		border-radius: 4px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
	}

	input[type=submit] {
		background-color: #009999;
		background-image: none;
		border-radius: 4px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
	}

	form input[type=submit]:not(.disabled):hover {
		background-color: #00abab;
		background-image: none;
	}

	input[type=submit]:not(.disabled):hover {
		background-color: #00abab;
		background-image: none;
	}
}

.question-form.hidden {
	display: none;
}