.questions-panel {
	h4 {
		color: #009999;
		font-weight: bold;
		margin-top: 18px;
		margin-bottom: 15px;
	}
	ul {
		list-style-type: none;
	}
	hr {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.question {
		margin-bottom: 15px;
	}
	.questions-panel-header {
		border: 1px solid #009999;
		margin-top: 20px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		.questions-panel-header-title {
			h4 {
				text-transform: uppercase;
			}
		}
		.questions-panel-header-category {
			float: right;
		}
	}
	div {
		word-wrap: break-word;
		.question-created-at {
			span {
				color: #ccc;
				margin-right: 10px;
			}
		}
		.question-actions {
			i {
				margin-top: 4px;
			}
		}
		.question-title {
			span {
				font-size: 1.2em;
				font-weight: bold;
				color: #777;
			}
		}
		.question-content {
			span {
				color: #777;
			}
		}
		.question-share {
			margin-top: 5px;
		}
		.question-votes {
			margin-top: 5px;
			i {
				color: #009999;
				margin-top: 3px;
			}
		}
		.question-author {
			margin-top: 5px;
			span {
				text-transform: uppercase;
				text-align: center;
				font-size: 0.75em;
				color: #777;
			}
		}
		.question-answers {
			border-left: 1px solid #ccc;
			margin-top: 5px;
			a {
				margin-left: 10px;
				text-decoration: none;
				&:hover {
					span {
						color: #222;
					}
					i {
						color: #222;
					}
				}
			}
			span {
				padding-left: 15px;
				text-transform: uppercase;
				font-size: 0.75em;
				color: #777;
			}
			span.answered {
				color: #009999;
				font-weight: bold;
				padding-left: 25px;
			}
			span.unanswered {
				color: #cc0000;
				font-weight: bold;
				padding-left: 25px;
			}
			i {
				float: right;
				margin-top: 3px;
			}
			i.answered {
				color: #009999;
			}
			i.unanswered {
				color: #cc0000;
			}
		}			
	}


	form input[type=text] {
		width: 100%;
		font-size: 1em;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}

	form input[type=submit] {
		background-color: #009999;
		background-image: none;
		border-radius: 4px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
	}

	input[type=submit] {
		background-color: #009999;
		background-image: none;
		border-radius: 4px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
	}

	button.edit-btn {
		background-color: #009999;
		background-image: none;
		color: #fff;
		border-radius: 3px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
		padding: 0 5px 0 5px;
		&:hover {
			background-color: #00abab;
		}
		span {
			font-size: 0.75em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	select {
		background-color: #fff;
		border-radius: 4px;
		border: solid 1px #ccc;
		padding: 8px 10px 7px;
	}

	form input[type=submit]:not(.disabled):hover {
		background-color: #00abab;
		background-image: none;
	}

	input[type=submit]:not(.disabled):hover {
		background-color: #00abab;
		background-image: none;
	}
}

#question-form {
	display: none;
	background-color: #f8f8f8;
}

.question-form {
	margin-top: 15px;
}