.navbar-default .navbar-nav > li > a {
    color: #009999;
    text-decoration: none;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #009999;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: #222;
    text-decoration: none;
  }
}

#dropdownUser {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #009999;
  cursor: pointer;

  &:hover {
    color: #222;
  }
}

@media (max-width: 991px) {
  .navbar {
    min-height: 150px;
    font-size: 4em;
    button {
      min-height: 130px;
      min-width: 130px;
      border-color: #009999;
    }
    .navbar-toggle .icon-bar {
      width: 90px;
      height: 12px;
      border-radius: 6px;
      margin: 15px 0 15px 10px;
      background-color: #009999;
    }
  }
  .nav li {
    margin: 25px 0 25px 0;
  }
}