#categories-panel {
	border: 1px solid #009999;
	margin-top: 20px;
	color: #009999;

	h4 {
		font-weight: bold;
	}
	ul {
    list-style-type: none;
	}
	hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}