.socials-panel-header {
	border: 1px solid #009999;
	margin-top: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	h4 {
		color: #009999;
		font-weight: bold;
		margin-top: 18px;
		margin-bottom: 15px;
		text-transform: uppercase;
		text-align: center;
	}
}

.fb-share-button.socials-panel {
	margin: 10px 5px 10px 10px;
}

.fb-like.socials-panel {
	margin: 10px 10px 10px 5px;
}