.socials-panel-header {
	border: 1px solid #009999;
	margin-top: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	h4 {
		color: #009999;
		font-weight: bold;
		margin-top: 18px;
		margin-bottom: 15px;
		text-transform: uppercase;
		text-align: center;
	}
}

.socials-panel-body {
	.fb-share-button {
		margin: 10px 5px 0 0;
	}

	.fb-like {
		margin: 10px 5px 0 0;
	}

	.socials-instr {
		padding-top: 12px;
		font-size: 0.9em;
		font-weight: bold;
		text-transform: uppercase;
		color: #009999;
		padding-right: 0;
		span {
			padding-left: 10px;
		}
	}	
}

.adds-panel {
	max-height: 500px;
}