.subheader {
	background-color: #009999;
	height: 250px;
}

.site-caption {
	margin-top: -230px;
	margin-bottom: 20px;
	color: #fff;
	.caption-section {
		padding-top: 50px;
	}
	.caption {
		font-size: 3.6em;
	}

	.subcaption {
		font-size: 1.47em;
		text-align: center;
		opacity: 0.75;
	}
}