.user-form {
	margin-top: 80px;
	margin-bottom: 80px;
	h2 {
		color: #009999;
	}

	.check-box-row {
		float: left;
	}

	form input[type=email] {
		width: 100%;
	}

	form input[type=password] {
		width: 100%;
	}

	form input[type=text] {
		width: 100%;
	}

	form input[type=submit] {
		background-color: #009999;
		background-image: none;
		border-radius: 4px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
	}

	input[type=submit] {
		background-color: #009999;
		background-image: none;
		border-radius: 4px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
	}

	form input[type=submit]:not(.disabled):hover {
		background-color: #00abab;
		background-image: none;
	}

	input[type=submit]:not(.disabled):hover {
		background-color: #00abab;
		background-image: none;
	}

	.sign-alternative {
		color: #009999;
	}

	.avatar-row {
		height: 48px;
	}

	.avatar-placeholder {
		float: left;
		height: 56px;
		width: 56px;
		border: solid 3px #009999;
	}
}

.personal-links {
	padding-left: 12px;
}

.personal-link {
	background-color: #009999;
	color: #fff;
	border-top: 4px solid #fff;
	border-bottom: 3px solid #fff;
	border-left: 3px solid #fff;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
	span {
		i {
			margin-right: 10px;
		}
		a {
			color: #fff;
			text-decoration: none;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.user-form {
		h2, span, a {
			font-size: 2.5em;
		}
		form input[type=email] {
			font-size: 2.5em;
			height: 70px;
		}

		form input[type=password] {
			font-size: 2.5em;
			height: 70px;
		}

		form input[type=text] {
			font-size: 2.5em;
			height: 70px;
		}
		form input[type=submit], form input[type=file] {
			font-size: 2.5em;
			padding: 10px 0 10px 0;
			line-height: 26px;
			height: 60px;
		}
		.check-box-row {
			label {
				font-size: 2.5em;
			}
		}
		input[type=checkbox] {
			height: 40px;
			width: 40px;
			margin-right: 15px;
		}
		.form-group {
			padding-top: 20px;
		}
		hr {
			margin-top: 50px;
		}
		.socials-login-explain {
			margin-top: 25px;
		}
	}
}

@media (max-width: 767px) {
	.user-form {
		h2, span, a {
			font-size: 2.5em;
		}
		form input[type=email] {
			font-size: 2.5em;
			height: 70px;
		}

		form input[type=password] {
			font-size: 2.5em;
			height: 70px;
		}

		form input[type=text] {
			font-size: 2.5em;
			height: 70px;
		}
		form input[type=submit], form input[type=file] {
			font-size: 2.5em;
			padding: 10px 0 10px 0;
			line-height: 26px;
			height: 60px;
		}
		.check-box-row {
			label {
				font-size: 2.5em;
			}
		}
		input[type=checkbox] {
			height: 40px;
			width: 40px;
			margin-right: 15px;
		}
		.form-group {
			padding-top: 20px;
		}
		hr {
			margin-top: 50px;
		}
		.socials-login-explain {
			margin-top: 25px;
		}
	}

	.personal-links {
		padding-left: 4px;
		padding-right: 5px;
		margin-top: 20px;
	}

	.personal-link {
		background-color: #009999;
		color: #fff;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #fff;
		font-size: 1em;
		text-align: center;
		text-transform: uppercase;
		padding-top: 5px;
		padding-bottom: 5px;
		span {
			i {
				margin-right: 10px;
			}
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}