.user-form {
	margin-top: 80px;
	margin-bottom: 80px;
	h2 {
		color: #009999;
	}

	.check-box-row {
		float: left;
	}

	form input[type=email] {
		width: 100%;
	}

	form input[type=password] {
		width: 100%;
	}

	form input[type=text] {
		width: 100%;
	}

	form input[type=submit] {
		background-color: #009999;
		background-image: none;
		border-radius: 4px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
	}

	input[type=submit] {
		background-color: #009999;
		background-image: none;
		border-radius: 4px;
		border: solid 1px #009999;
		border-color: #009999;
		border-top-color: #009999;
		border-right-color: #009999;
		border-bottom-color: #009999;
		border-left-color: #009999;
		text-shadow: none;
	}

	form input[type=submit]:not(.disabled):hover {
		background-color: #00abab;
		background-image: none;
	}

	input[type=submit]:not(.disabled):hover {
		background-color: #00abab;
		background-image: none;
	}
}