@font-face {
	font-family: 'Bender-Black';
	src: asset-url('webfonts/2E3B41_5_0.eot');
	src: asset-url('webfonts/2E3B41_5_0.eot?#iefix') format('embedded-opentype'), asset-url('webfonts/2E3B41_5_0.woff2') format('woff2'), asset-url('webfonts/2E3B41_5_0.woff') format('woff'), asset-url('webfonts/2E3B41_5_0.ttf') format('truetype');
}