<div class='container'>
  <footer class="footer">
    <small>
      © 2015 PitamTe Team - All rights reserved 
    </small>
    <nav>
      <ul>
        <li><%= link_to "Uslovi koriscenja", agreements_path %></li>
        <li><%= link_to "O nama", about_path %></li>
        <li><%= link_to "Kontakt", contact_path %></li>
      </ul>
    </nav>
  </footer>
</div>