<h4>Zdravo <%= @resource.email %>!</h4>

<p>Neko je poslao zahtev za promenu Vaše lozinke na pitamte.com. Možete promeniti lozinku putem veze ispod:</p>

<strong><p><%= link_to 'Promeni PitamTe lozinku', edit_password_url(@resource, reset_password_token: @token) %></p></strong>

<p>Ukoliko Vi niste zahtevali promenu, ignorišite ovaj email.</p>
<p>Vaša lozinka će ostati ista dok ne posetite link iznad i kreirate novu.</p>
<br /> 
<p>Pozdrav,<br />
Pitamte Team</p>